# dependencies
node_modules

# tscircuit build cache + local registry/parts cache
dist
.tscircuit
*.tsbuildinfo
.cache

out/*.step

# misc
*.tgz
coverage
*.lcov
.env
.env.*.local
logs
*.log
.DS_Store
.idea
